{% extends 'todo/header.html' %}

{% block title %}
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        account page
    {% endif %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="row m-2">
            <div class="col align-self-center m-2">
                <h1> Hello {{ user.username }}. these are your tasks below </h1>
            </div>
            <div class="col">
                {% load static %}
                <img src="{% static 'images/banner-image.png'%}" class="mr-5" style="float:right ;width:150px; height:150px">
            </div>
        </div>
        <hr>
        {% if tasks|length != 0 %}
            <h3 class="text-center"> List of all Due Task </h3>
            <hr>
            {% for task in tasks %}
                {% if task.task_status == False %}
                    <div class="card mx-auto m-4" style="width:80%">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ task.task_type }}
                            </h4>
                            <hr>
                            <div class="card-text">
                                <small>start: {{ task.start_time }}</small><br>
                                <small>end: {{ task.end_time }}</small><br>
                                <p>{{ task.task_description }}</p>
                                <p>status : due</p>
                                <div class="row">
                                    <a class="col text-center" href="/todo/edit_task/?id={{ task.id }}"><button style="width: 100%" class='btn btn-outline-success' type="button">
                                        edit response
                                    </button></a>
                                    <a class="col text-center" href="/todo/delete_task/?id={{ task.id }}"><button style="width: 100%" class='btn btn-outline-danger' type="button">
                                        delete
                                    </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <hr class="m-2">
            <h3 class="text-center"> List of all done task </h3>
            <hr class="m-2">
            {% for task in tasks %}
                {% if task.task_status == True %}
                    <div class="card mx-auto m-4" style="width:80%">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ task.task_type }}
                            </h4>
                            <hr>
                            <div class="card-text">
                                <small>start: {{ task.start_time }}</small><br>
                                <small>end: {{ task.end_time }}</small><br>
                                <p>{{ task.task_description }}</p>
                                <p>status : done</p>
                                <div class="row">
                                    <a class="col text-center" href="/todo/edit_task/?id={{ task.id }}"><button style="width: 100%" class='btn btn-outline-success' type="button">
                                        edit response
                                    </button></a>
                                    <a class="col text-center" href="/todo/delete_task/?id={{ task.id }}"><button style="width: 100%" class='btn btn-outline-danger' type="button">
                                        delete
                                    </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            

        {% else %}
            <h2>Welcome. Please assign task to continue</h2>
            <a href="/todo/add_task/"><button class='btn btn-outline-success' type="button"> Add new Task </button></a>
            <a href='/todo/add_task_type/'><button class='btn btn-outline-success' type="button"> Add new Task type </button></a>
        {% endif %}
    {% else %}
        
        <div class="row m-2">
            <div class="col align-self-center m-2">
                <h1> Please login to continue </h1>            
            </div>
            <div class="col">
                {% load static %}
                <img src="{% static 'images/about-us.png'%}" class="mr-5" style="float:right ;width:150px; height:150px">
            </div>
        </div>
    {% endif %}
{% endblock content %}
    