{% extends 'todo/header.html' %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block title %}
    task
{% endblock title %}

{% block content %}
    <div class='card mx-auto' style="width: 80%; border: 1px solid black; padding: 10px; margin: 10px;">
        <form method="POST" novalidate>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock content %}  