<html lang="en">
<head>
    <title> {% block title %} document {% endblock title %} </title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/home_todo.css' %}">
</head>
<body style="margin: 10px;" >
    <div class='mainframe' >
        {% include 'todo/includes/navbar.html' %}

        {% include 'todo/includes/messaging.html' %}

        {% block content %}
            <h1>empty for now</h1>
        {% endblock content %}
    <div>

</body>
<footer class="page-footer font-small special-color-dark pt-4">
    <div class='container'>
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item"><a class="nav-link" href='https://github.com/hrs2203'><span class='fa fa-github'> Github</span></a></li>
            <li class="nav-item"><a class="nav-link" href='https://www.linkedin.com/in/hrishabh-pandey-052a0616b/'><span class='fa fa-linkedin'> Linkedin</span></a></li>
        </ul>
    </div>
</footer>
</html>