{% extends 'todo/header.html' %}

{% load crispy_forms_tags %}

{% block title %}
registration page
{% endblock title %}


{% block content %}
<br>
<div class='card mx-auto' style="width: 80%; border: 1px solid black; padding: 10px; margin: 10px;">
    <form method="POST" novalidate>
        {% csrf_token %}
        {% comment %} {{ form.as_table }} {% endcomment %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">register</button>
    </form>
    If you already have an account <a href="/todo/login" target="blank">login</a> instead.
</div>
{% endblock content %}