{% extends 'mainApp/header.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block customStyle %}
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block content %}
    <header class='mainframe'>
        {% include 'mainApp/nav.html' %}
    </header>
    <div class='mainframe'>
        <section class='site-head mb-5 mt-5'>
            <div class='row'>
                <div class="col align-self-center">
                    <h2 class='mb-2'>Hi,</h2>
                    <h1>I'm Hrishabh</h1>
                    <a href="/static/pdf/resume.pdf"><button class="btn btn-outline-success"> View Resume </button></a>
                </div>
                <div class="col">
                    {% load static %}
                    <img src="{% static 'images/banner-image.png' %}" alt="banner-img" class="img-fluid shadow p-3 mb-5 bg-white rounded">
                </div>
            </div>
        </section>

        <section class='site-selfIntro mb-5 mt-5'>
            <div class='row'>
                <div class="col align-self-center">
                    {% load static %}
                    <img src="{% static 'images/about-us.png' %}" alt="banner-img" class="img-fluid shadow p-3 mb-5 bg-white rounded">
                </div>
                <div class="col text-justify">
                    <h2 class='mt-2'> LET ME INTRODUCE MYSELF </h2>
                    <p>I am a sophomore Computer Science Undergraduate student from the Indian Institute of Information Technology, Sri City, currently working on my Web development skills utilizing frameworks like Django, NodeJs and React JS.</p>
                </div>
            </div>
        </section>

        {% comment %} skill set {% endcomment %}

        <section class='skill-set mb-5 mt-5'>
            
            <div class='container text-center mb-5 main_title'>
                <h1>Skill Set</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm align-self-center">
                        <a href="https://www.djangoproject.com/">
                            {% load static %}
                            <img src="{% static 'images/django_logo.png' %}" alt="django_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://www.github.com/">
                            {% load static %}
                            <img src="{% static 'images/github_logo.png' %}" alt="github_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://www.python.org">
                            {% load static %}
                            <img src="{% static 'images/python_logo.png' %}" alt="python_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                            {% load static %}
                            <img src="{% static 'images/java_scr_logo.png' %}" alt="java_scr_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm align-self-center">
                        <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML">
                            {% load static %}
                            <img src="{% static 'images/ht_css_logo.jpg' %}" alt="ht_css_logo.jpg" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://nodejs.org/en/">
                            {% load static %}
                            <img src="{% static 'images/node_logo.png' %}" alt="node_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://www.java.com/en/">
                            {% load static %}
                            <img src="{% static 'images/java_logo.png' %}" alt="java_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://reactjs.org/">
                            {% load static %}
                            <img src="{% static 'images/react_logo.png' %}" alt="react_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm align-self-center">
                        <a href="https://www.mongodb.com/">
                            {% load static %}
                            <img src="{% static 'images/mongo_logo.png' %}" alt="mongo_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <a href="https://www.mysql.com/">
                            {% load static %}
                            <img src="{% static 'images/mysql_logo.png' %}" alt="mysql_logo.png" class="img-fluid hov_sha p-3 mb-5 bg-white rounded">
                        </a>
                    </div>
                    <div class="col-sm align-self-center">
                        <!-- empty for now -->
                    </div>
                    <div class="col-sm align-self-center">
                        <!-- empty for now -->
                    </div>
                </div>
            </div>
        </section>

        {% comment %} personal project {% endcomment %}
        <section class="proj md-5 mb-5">
            <div class='container text-center'>
                <h1 class='align-self-center m-5'>Project</h1>
            </div>
            <div class="row m-3">
                <div class="col-sm hov_sha m-2 p-2 align-self-center">
                    <a href="https://github.com/hrs2203/GraphER">
                        <div class="row">
                            <div class="col-sm align-self-center">
                                {% load static %}
                                <img src="{% static 'images/python_logo.png' %}" alt="python_logo.png" class="img-fluid align-self-center">
                            </div>
                            <div class="col-sm align-self-center text-justify">
                                Python2 Based Graph Drawing Application that draws high quality graph using Tkinter Library
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm hov_sha m-2 p-2 align-self-center">
                    <a href="https://github.com/hrs2203/Techfesia2019/tree/backend-email-utils">
                        <div class="row">
                            <div class="col-sm align-self-center text-justify">
                                {% load static %}
                                <img src="{% static 'images/django_logo.png' %}" alt="django_logo.png" class="img-fluid align-self-center">
                            </div>
                            <div class="col-sm align-self-center">
                                Django Rest based web application, for the college annual tech festival Techfesia
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-sm hov_sha m-2 p-2 align-self-center">
                    <a href="http://hrs2203.pythonanywhere.com/todo/">
                        <div class="row">
                            <div class="col-sm align-self-center">
                                {% load static %}
                                <img src="{% static 'images/django_logo.png' %}" alt="django_logo.png" class="img-fluid align-self-center">
                            </div>
                            <div class='col-sm align-self-center text-justify'>
                                Django based To do Application
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm hov_sha m-2 p-2 align-self-center">
                    <!-- empty for now -->
                </div>
            </div>
            
        </div>

        </section>

    </div>
{% endblock %}

