{% extends 'mainApp/header.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block customStyle %}
    <style>
        header {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .mainframe {
            margin-right: 20%;
            margin-left: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    <header class='mainframe'>
        <ul class="nav nav-pills justify-content-end" >
            <li class="nav-item"><a class="nav-link" href='/todo'> ToDo list </a></li>
            <li class="nav-item"><a class="nav-link" href='/sendMail'> Mail App </a></li>
            <li class="nav-item"><a class="nav-link" href='https://github.com/hrs2203'> Github </a></li>
            <li class="nav-item"><a class="nav-link" href='https://www.linkedin.com/in/hrishabh-pandey-052a0616b/'> Linkedin </a></li>
        </ul>
    </header>
    <div class='mainframe'>
        <h1>Hi, I'm Hrishabh</h1>
        <h3>
            <p>
                I am a sophomore Computer Science Undergraduate student from the Indian Institute of Information Technology, Sri City, currently working on my Web development skills utilizing frameworks like Django, NodeJs and React JS.
            </p>
        </h3>
    </div>

    {% comment %} <h2> Please follow the below link as required</h2>
    <ul> 
    <li>todo app -> <a class="nav-link" href='/todo'> lets go </a></li>
    <li>mail app -> <a class="nav-link" href='/sendMail'> 行こう(lets go) </a></li>
    </ul>  {% endcomment %}
{% endblock %}

