<ul class="nav nav-pills justify-content-end" >
    <li class="nav-item"><a class="nav-link" href='/todo'><button class='btn btn-outline-success'> ToDo list </button> </a></li>
    <li class="nav-item"><a class="nav-link" href='/sendMail'><button class='btn btn-outline-success'> Mail App </button> </a></li>
    <li class="nav-item"><a class="nav-link" href='https://github.com/hrs2203'><button class='btn btn-outline-success'> Github </button> </a></li>
    <li class="nav-item"><a class="nav-link" href='https://www.linkedin.com/in/hrishabh-pandey-052a0616b/'><button class='btn btn-outline-success'> Linkedin </button> </a></li>
</ul>